section.header-section.d-flex.justify-content-between
    .logo-container.d-flex.f-1
        include ../svg/logo
        include ../svg/logo_text
    .menu-container.d-flex.justify-content-end 
        include ../svg/help