.app-container {
	display: flex;
	flex-direction: column;
}

.body-section {
	flex: 1;
}

.nav-link:not(.active) {
	border: 1px solid black;
	color: var(--text-color);
}

.nav-link.active {
	border-bottom: 3px solid #7f0000 !important;
	border-collapse: collapse;
}

.tab-pane.active {
	width: 100%;
	height: 100%;
}

.tab-wrapper {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

.calendar-container {
	flex: 1;
	display: flex;
	max-height: 100%;
	overflow: auto;
	flex-direction: column;
}

.calendar {
	padding: 1rem;
	display: flex;
	flex: 1;
	flex-direction: row;
	table {
		position: relative;
		border-collapse: collapse;
		tr:first-child {
			position: sticky;
			top: 0;
			z-index: 2;
			td {
				background-color: var(--bg-color);
				display: flex;
				flex-direction: column;
				font-weight: bold;
				.weekday {
					font-size: 0.9rem;
					text-wrap: nowrap;
					text-align: center;
				}
				.date {
					font-size: 0.6rem;
					text-wrap: nowrap;
					text-align: center;
				}
			}
			td:not(:first-child):not(.spacer) {
				border-left: 1px solid var(--text-color);
				border-bottom: 2px solid var(--text-color);
			}
			td.spacer {
				opacity: 0;
			}
		}
		tr {
			display: flex;
			flex-direction: row;
			position: relative;
			margin: 0;
			td:not(:first-child):not(.spacer) {
				border-left: 1px solid var(--text-color);
				border-right: 1px solid var(--text-color);
				border-bottom: 1px dotted var(--text-color);
			}
			td:first-child {
				position: sticky;
				background-color: var(--bg-color);
				left: 0;
				z-index: 3;
			}
			td:not(:first-child):not(.spacer) {
				width: 3em;
			}
			td.selected {
				background-color: var(--selected-date);
			}
		}
		tr:not(:first-child) {
			height: 8px;
		}
		tr:nth-child(4n + 1) td:not(:first-child):not(.spacer) {
			border-bottom: 2px solid var(--text-color);
		}
		td.spacer {
			border: none;
			width: 15px;
			position: relative;
			opacity: 1;
			.time-label {
				background: var(--bg-color);
				position: absolute;
				bottom: 0%;
				right: 10%;
				font-weight: bold;
				/* transform: translate(0, 25%); */
				font-size: 0.7rem;
				text-wrap: nowrap;
				z-index: 1;
			}
			.last {
				top: 65%;
			}
		}
		td.spacer:first-child {
			width: 30px;
		}
		tr:not(:first-child) td:not(:first-child).toggle-on {
			background-color: var(--dragged-date);
		}
		tr:not(:first-child) td:not(:first-child).toggle-off {
			background-color: var(--bg-color);
		}
		td.disabled {
			background-color: var(--gray) !important;
		}
	}
}

::-webkit-scrollbar-corner {
	background: var(--bg-color);
}

* {
	scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.nav-link {
	padding: unset;
}

.tab-content {
	flex: 1;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}
