html,
body {
	overflow-y: hidden;
}

.app-container {
	display: flex;
	flex-direction: column;
}

.body-section {
	flex: 1;
}

.event-url {
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--text-color);
	margin: 0;
}

.nav-link:not(.active) {
	border: 1px solid black;
	color: var(--text-color);
}

.nav-link.active {
	border-bottom: 3px solid #7f0000 !important;
	border-collapse: collapse;
}

.tab-pane.active {
	width: 100%;
	height: 100%;
}

.tab-wrapper {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

#filter-area {
	width: 100%;
}

.accordion-button {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.accordion-body {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

.accordion-item {
	background-color: var(--bg-color);
	border: 1px solid var(--text-color);
}

#person-count {
	width: 2.5rem;
}

#legend-bar {
	border: 1px solid var(--text-color);
}

.calendar-container {
	flex: 1;
	display: flex;
	max-height: 100%;
	overflow: auto;
	flex-direction: column;
}

.calendar {
	padding: 1rem;
	display: flex;
	flex: 1;
	flex-direction: column;
	table {
		position: relative;
		border-collapse: collapse;
		tr:first-child {
			position: sticky;
			top: 0;
			z-index: 2;
			td {
				background-color: var(--bg-color);
				display: flex;
				flex-direction: column;
				font-weight: bold;
				.weekday {
					font-size: 0.9rem;
					text-wrap: nowrap;
					text-align: center;
				}
				.date {
					font-size: 0.6rem;
					text-wrap: nowrap;
					text-align: center;
				}
			}
			td:not(:first-child):not(.spacer) {
				border-left: 1px solid var(--text-color);
				border-bottom: 2px solid var(--text-color);
			}
			td.spacer:not(:first-child) {
				background-color: var(--gray);
			}
		}
		tr {
			display: flex;
			flex-direction: row;
			position: relative;
			margin: 0;
			td:not(:first-child):not(.spacer) {
				border-left: 1px solid var(--text-color);
				border-right: 1px solid var(--text-color);
				border-bottom: 1px dotted var(--text-color);
			}
			td:first-child {
				position: sticky;
				background-color: var(--bg-color);
				left: 0;
				z-index: 3;
			}
			td:not(:first-child):not(.spacer) {
				width: 3em;
			}
			td.selected {
				background-color: var(--selected-date);
			}
		}
		tr:not(:first-child) {
			height: 8px;
		}
		tr:nth-child(4n + 1) td:not(:first-child):not(.spacer) {
			border-bottom: 2px solid var(--text-color);
		}
		td.spacer {
			border: none;
			width: 15px;
			position: relative;
			opacity: 1;
			.time-label {
				background: var(--bg-color);
				position: absolute;
				bottom: 0%;
				right: 10%;
				font-weight: bold;
				/* transform: translate(0, 25%); */
				font-size: 0.7rem;
				text-wrap: nowrap;
				z-index: 1;
			}
			.last {
				top: 65%;
			}
		}
		td.spacer:not(:first-child) {
			background-color: var(--gray);
		}
		td.spacer:first-child {
			width: 30px;
		}
		tr:not(:first-child) td:not(:first-child).toggle-on {
			background-color: var(--dragged-date);
		}
		tr:not(:first-child) td:not(:first-child).toggle-off {
			background-color: var(--bg-color);
		}
		td.disabled {
			background-color: var(--gray) !important;
		}
	}
}

.note {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.note:not(:last-child) {
	margin-bottom: 1rem;
}

.note .name {
	text-decoration: underline;
	font-weight: bold;
}

::-webkit-scrollbar-corner {
	background: var(--bg-color);
}

* {
	scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.nav-link {
	padding: unset;
}

.tab-content {
	flex: 1;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.tooltip {
	text-align: left;
}

button svg {
	max-height: 1rem;
}

#filter-text {
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.date-slot {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
	.date-header {
		font-weight: bold;
		text-decoration: underline;
	}
	.time-option {
		display: flex;
		flex-direction: row;
		margin-bottom: 0.3rem;
	}
	input[type='checkbox'] {
		height: 1.5rem;
		width: 1.5rem;
		margin: auto 0;
		margin-right: 0.5rem;
	}
	input[type='checkbox']:checked + label {
		font-weight: bold;
	}
}

#login-container > div {
	margin: auto 0;
}

.bar-container {
	display: flex;
	margin-bottom: 5px;
	.bar-label {
		margin-top: auto;
		margin-bottom: auto;
		width: 8rem;
		text-align: right;
		margin-right: 5px;
	}
	.bar {
		flex: 1;
		max-width: calc(100%-8rem);
		.bar-inner {
			height: 100%;
			color: yellow;
			transition: width 200ms;
		}
		.bar-inner[data-count='0'] {
			color: var(--text-color);
		}
	}
}

.bar-container[data-count='0'] .bar-inner {
	color: var(--text-color);
}

.bar-inner {
	width: 40px;
	border: 1px solid var(--text-color);
	padding-left: 1rem;
	font-weight: bold;
}

.date-slot[data-count='0'] .bar-container,
.bar-container[data-count='0'],
.date-slot.hide .bar-container,
.bar-container.hide {
	display: none;
}

.date-slot[data-count='0']::after,
.date-slot:not(:has(> .bar-container:not(.hide), > .time-option))::after,
.date-slot.hide::after {
	content: 'None';
}
