:root {
	--text-color: #111111;
	--bg-color: #dddddd;
	--selected-date: #00ff77;
	--dragged-date: yellow;
	--cal-width: 45%;
	--today: blue;
	--gray: #444444;
	--gray-out: #aaaaaa;
	--light-gray-out: #bbbbbb;
	--a0: #ddddddff;
	--a1: #d8d4daff;
	--a2: #d4cbd7ff;
	--a3: #cfc1d5ff;
	--a4: #cbb8d2ff;
	--a5: #c6afcfff;
	--a6: #c1a6ccff;
	--a7: #bd9dc9ff;
	--a8: #b893c7ff;
	--a9: #b38ac4ff;
	--a10: #af81c1ff;
	--a11: #aa78beff;
	--a12: #a66fbcff;
	--a13: #a165b9ff;
	--a14: #9c5cb6ff;
	--a15: #9853b3ff;
	--a16: #934ab0ff;
	--a17: #8e40aeff;
	--a18: #8a37abff;
	--a19: #852ea8ff;
	--a20: #8125a5ff;
	--a21: #7c1ca2ff;
	--a22: #7712a0ff;
	--a23: #73099dff;
	--a24: #6e009aff;
}

html,
body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	height: 100%;
	font-size: 0.9rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	touch-action: manipulation;
	overflow-x: hidden;
	overflow-y: auto;
}

/* div {
	border: 1px solid blue;
} */
* {
	touch-action: manipulation;
}

select {
	height: 1.5rem;
	padding: 0 10px;
	border-radius: 0 !important;
}
select > option {
	height: 2rem;
}

.message-bd {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.7);
	z-index: 1999;
}

.message {
	position: absolute;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	width: fit-content;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	z-index: 2000;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.bold {
	font-weight: 700;
}

.container-all {
	height: 100%;
	max-height: 100%;
}

.app-container {
	width: min(100%, 600px);
	height: 100%;
	max-height: 100%;
	margin: auto;
}

.header-section {
	height: 2.5em;
	display: flex;
	padding-top: 0.5em;
	justify-content: space-between;
	border-bottom: 1px solid var(--text-color);
}

.logo-container {
	height: 100%;
}

.btn {
	text-wrap: nowrap;
}

.help-button {
	all: unset;
	padding: 0;
	margin: auto 10px;
	height: 100%;
}

.header-logo {
	height: 80%;
	cursor: pointer;
}

.header-logo:hover path {
	fill: var(--today);
}

.header-logo-text {
	margin: auto 10px;
	max-height: 50%;
	height: 50%;
}

.menu-container .header-logo {
	width: 2em;
}

.f-1 {
	flex: 1;
}

.input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 3px;
}

.input-container > .input-label {
	font-size: 1rem;
}

.input-row {
	display: flex;
	width: 100%;
}

.input-row > .input-container {
	flex: 1;
}

.input-label svg {
	max-height: 1rem;
}

.w-15 {
	width: 15%;
}

input[type='radio'] + label {
	border: 1px solid var(--text-color);
	padding: 2px;
	text-align: center;
}

input[type='radio'] {
	display: none;
}

input[type='radio']:checked + label,
.calendar-day.selected {
	background-color: var(--selected-date);
}

input[type='radio']:not(:checked) + label {
	color: var(--gray-out);
}

.calendar-header {
	text-align: center;
	display: flex;
	flex: 1;
	font-weight: bold;
	width: var(--cal-day-size);
	font-size: 0.9rem;
	margin: 0 1px 1px 1px;
}

.calendar.button {
	border-radius: 0 !important;
}

.calendar-row {
	width: var(--cal-width);
}

.calendar-day {
	border: 1px solid var(--text-color);
	margin: 1px;
	display: flex;
	font-size: 0.9rem;
}

.calendar-day.today {
	font-weight: 900;
	color: var(--today);
	border: 2px solid var(--today);
}

.calendar-day.selected {
	background-color: var(--selected-date);
}

.calendar-day.dragged-on {
	background-color: var(--dragged-date);
}

.calendar-day.dragged-off {
	background-color: var(--bg-color);
}

.gray-out {
	color: var(--light-gray-out);
}

div[data-bs-toggle='tooltip'] svg {
	margin-bottom: 0.25rem;
	margin-left: 0.25rem;
}

.time-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.time-header {
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid var(--text-color);
}

.time-tile-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.time-tile {
	border-radius: 5px;
	border: 1px solid var(--text-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3px;
	margin: 3px;
}

.to-top {
	position: sticky;
	top: 100%;
	left: 100%;
	transform: translate(0, -100%);
	display: flex;
	justify-content: flex-end;
}

.to-top > div {
	opacity: 0.5;
	margin-right: 10px;
}

.to-top > div:hover {
	opacity: 1;
}
