extends _base

block styles 
    link(rel="stylesheet" href="/css/event.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")

block modals
    include events/modals/editModal

block content 
    .app-container
        include components/header
        section.body-section.d-flex.flex-column.align-items-center.mb-2 
            include events/header
            include events/login
            - if (event.eventType !== 'date'  && event.eventType !== 'weekday')
                include events/tz-select
            include events/calendar-area


block scripts 
    script(src="/js/utils/moment.js")
    script(src="/js/utils/moment-timezone-with-data-10-year-range.js")
    - if (event.eventType === 'date-time' || event.eventType === 'weekday-time')
        script(src="/js/events/event-date-time.js" type="module")
    - else if (event.eventType === 'date-list' || event.eventType === 'weekday-list')
        script(src="/js/events/event-date-list.js" type="module")
    - else if (event.eventType === 'date' || event.eventType === 'weekday')
        script(src="/js/events/event-date.js" type="module")
    script(src="/js/events/edit-event.js" type="module")
    
