.w-100.px-2.py-2.d-flex.flex-column.align-items-start
    .input-group
        .alert.alert-secondary.event-url= `https://www.meetyouat.net/${event.url}`
        button.btn.btn-sm.btn-primary Copy
    .bold= event.name 
    div= event.description