#login-container.input-container 
    - if (user)
        .d-flex.flex-row.w-100.my-2
            span.bold.me-2 Logged in as: 
            span= user.name
            #data-area(data-user=`${JSON.stringify(user)}` data-event=`${JSON.stringify(event)}`)
    - else 
        #login.d-flex.w-100.justify-content-around.mb-2
            .input-container
                .input-label.d-flex
                    div Your name
                    div(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Your name and password are for this event only. Use a recognizable name so the organizer knows who you are.") 
                        include ../svg/help
                .d-flex
                    input#user-name(type="text" name="name" placeholder="Name")
            .input-container
                .input-label.d-flex 
                    div Password
                    div(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Your name and password are for this event only. There is no length or complexity requirement.") 
                        include ../svg/help
                .d-flex
                    input#password(type="password" name="password" placeholder='Password')
    .input-container
        .input-label Time zone:
        select#timezone