svg.header-logo(viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
    path(stroke="var(--text-color)" stroke-width="8" d="M 5 95 L 5 5 L 50 65 L 95 5 L 95 95 M 50 65 L 50 95" fill="transparent" stroke-linecap="round")
    text(x="50" y="20" stroke="var(--text-color)" fill="var(--text-color)" dominant-baseline="middle" text-anchor="middle" font-size="40px" font-weight="bold" font-family="sans-serif") @
