#event-type.input-container
    .d-flex.mb-1
        .w-25.d-flex 
            .m-auto Dates:
        input#event-type-date(type="radio" name="event-type" value="date" checked)
        label.f-1(for="event-type-date") Specific Dates 
        input#event-type-weekday(type="radio" name="event-type" value="weekday")
        label.f-1(for="event-type-weekday") Days of Week
    .d-flex
        .w-25.d-flex 
            .m-auto Times:
        input#event-type-dt(type="radio" name="event-time" value="time" checked)
        label.f-1(for="event-type-dt") Date + Time
        input#event-type-d(type="radio" name="event-time" value="")
        label.f-1(for="event-type-d") Date only