.input-container#event-name-container
    label.input-label(for="event-name") Event Name
    input#event-name(placeholder="Event Name" required)
.input-container#event-desc-container 
    label.input-label(for="event-description") Description 
    textarea#event-description(rows="2")